@use "../../../theme";

.avatar {
  height: 80px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: theme.$main-border;
  border-radius: theme.$border-radius;

  img,
  .howler-icon {
    height: 60px;
  }
}
