@use "../../../theme";

.avatar,
.avatar img {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: theme.$main-border;
  border-radius: theme.$border-radius;

  .howler-icon {
    height: 40px;
  }
}
