@use "../../../theme";

$icon-sizing: 1.7rem;

@mixin icon-margin {
  margin: $icon-sizing 1rem 0 2rem;
}

.sidebar {
  width: 100%;
  min-height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  font-size: $icon-sizing;
  text-align: right;

  .howler-icon {
    @include icon-margin;
    height: 2rem;
  }

  .nav {
    display: flex;
    flex-direction: column;

    .link, .signout {
      text-decoration: none;
      color: theme.$main-blue;
      .icon {
        @include icon-margin;
      }

      .link-label {
        font-size: 1rem !important;
      }
    }
  }
}
