@use "../../../theme";

$icon-sizing: 1.7rem;

@mixin icon-margin {
  margin: $icon-sizing 1rem 0 2rem;
}

.sidebar {
  width: 100%;
  position: fixed;
  top: 90vh;
  height: 10vh;
  height: fit-content;
  font-size: $icon-sizing;
  background-color: theme.$back-white;
  border-top: theme.$main-border;
  align-items: center;
  padding-bottom: 2vh;
  overflow-x: hidden;

  .howler-icon {
    display: none;
  }

  .nav {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;

    .link,
    .signout {
      text-decoration: none;
      color: theme.$main-blue;
      cursor: pointer;
      .icon {
        @include icon-margin;
      }

      label {
        font-size: 1rem !important;
        display: none;
      }
    }
  }

  @media only screen and (min-width: 500px) {
    top: 0;
    min-height: 100vh;
    text-align: right;
    position: sticky;
    position: -webkit-sticky;
    border-top: none;

    .howler-icon {
      @include icon-margin;
      height: 2.2rem;
      display: inline-block;
    }

    .nav {
      display: flex;
      flex-direction: column;
    }
  }
  @media only screen and (min-width: 1020px) {
    label {
      display: inline !important;
    }
  }
}
