@use "../../../theme";

.modal-back {
  @include theme.modal-mixin;

  .update-body {
    min-height: 50vh;
    min-width: 50vw;
    background-color: theme.$back-white;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin: 1rem;

      input {
        @include theme.rounded-border-mixin;
        padding-left: 0.5rem;
      }

      #image-input {
        border: none;
      }

      textarea {
        border: theme.$main-border;
        border-radius: 5px;
        resize: none;
        padding: .5rem;
      }

      button {
        @include theme.button-mixin;
      }
    }
  }
}
