@use "../../../theme";

.page-container {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-areas: "left middle right";

  .sidebar-container {
    grid-area: left;
    width: 100%;
    height: 100vh;
  }

  .middle-container {
    grid-area: middle;
    width: 100%;
    min-height: 100vh;
    border-left: theme.$main-border;
    border-right: theme.$main-border;
    display: flex;
    flex-direction: column;
  }

  .right-empty {
    grid-area: right;
    width: 100%;
    height: 100%;
  }
}
