@use "../../../theme";

.howl-box {
  display: block;
  border-bottom: theme.$main-border;
  height: fit-content;
  width: 100%;
  max-width: 80vw;
  padding: 1rem 0;
  background-color: theme.$back-white;

  .howl-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;

    .avatar-howl-container {
      display: flex;
      align-items: center;

      .howl-input {
        margin-left: 1rem;
        border: none;
        outline: none;
        resize: none;
        max-width: 60vw;
        font-size: 1.2rem;
        white-space: pre-wrap;
        overflow-wrap: break-word;
      }
    }

    hr {
      border: 0;
      display: block;
      max-width: 70%;
      background-color: theme.$line-color;
      height: theme.$line-size;
      margin: 0.5rem 10% 0.5rem 20%;
    }

    canvas {
      margin: auto;
    }

    label {
      color: theme.$main-blue;
    }

    .buttons {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-height: 30vh;
      font-size: 2rem;
      @media only screen and (min-width: 500px) {
        flex-direction: row;
        min-height: 0 !important;
        padding: 1rem 20% 0 5%;
      }

      #image-input {
        display: none;
      }

      button {
        @include theme.button-mixin;
      }

      .chars-remaining {
        display: inline;
        font-size: 0.8rem;
        position: relative;
        margin: auto 1rem;
      }
    }
  }
}
