@use "../../theme";

$icon-sizing: 1.7rem;

@mixin icon-margin {
  margin-top: $icon-sizing;
  margin-left: 10vw;
}

.sidebar {
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;

  .howler-icon {
    @include icon-margin;
    height: 2rem;
  }

  .nav {
    display: flex;
    flex-direction: column;
    font-size: $icon-sizing;

    .icon {
      @include icon-margin;
      color: theme.$main-blue;
    }
  }
}
