@use "../../../theme";

$icon-sizing: 1.7rem;

@mixin icon-margin {
  margin: $icon-sizing 1rem 0 2rem;
}

.toolbar {
  position: fixed;
  left: 0;
  top: 90vh;
  width: 100%;
  height: 10vh;
  line-height: 10vh;
  font-size: $icon-sizing;
  background-color: theme.$back-white;
  border-top: theme.$main-border;
  overflow: hidden;

  .howler-icon {
    display: none;
  }

  .buttons {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;

    .link {
      text-decoration: none;
      color: theme.$main-blue;
      cursor: pointer;

      label {
        font-size: 1rem !important;
        display: none;
      }
    }
  }

  @media only screen and (min-width: 500px) {
    position: fixed;
    top: 0;
    left: 0;
    width: fit-content;
    min-height: 100vh;
    text-align: right;
    border-top: none;

    .howler-icon {
      @include icon-margin;
      height: 2.2rem;
      display: inline-block;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      .icon {
        @include icon-margin;
      }
    }
  }

  @media only screen and (min-width: 1020px) {
    label {
      display: inline !important;
      margin-left: 1rem;
    }
  }
}
