@use "../../../theme";

.howl {
  border-bottom: theme.$main-border;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: .8rem;

  .avatar-container {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;

    p {
      text-indent: 2rem;
    }

    button {
      border: none;
      background-color: theme.$back-white;
      cursor: pointer;
    }
  }

  .text-img-container {
    width: 100%;
    margin: 1.5rem auto;

    .username {
      margin: 0;
    }

    .howl-text {
      margin: 1rem 0;
      white-space: pre-line;
    }

    .img-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .img {
        border: 2px solid theme.$line-color;
        border-radius: 20px;
        max-height: 480px;
        max-width: 40vw;
        margin: auto;
      }
    }
  }

  .buttons-container {
    width: 50%;
    padding: 1rem;

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      button,
      p {
        color: theme.$main-blue;
        font-size: 1.2rem;
        cursor: pointer;
        border: none;
        background-color: theme.$back-white;

        :active {
          font-size: 1.5rem;
        }
      }
    }
  }

  .comment-form {
    @include theme.modal-mixin;
    flex-direction: column;

    form {
      width: 50vw;
      height: 30vh;
      background-color: theme.$back-white;
      border-radius: theme.$border-radius;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      input {
        border: none;
        padding-left: .5rem;
        height: 2rem;
        width: 90%;
        line-height: 2rem;
      }

      .buttons {
        width: 60%;
        display: flex;
        justify-content: space-around;
      }

      button {
        @include theme.button-mixin;
      }
    }
  }

  .comments {
    margin: 0 -1rem;

    .avatar-button {
      border: none;
      background-color: theme.$back-white;
    }

    .comment {
      padding: 1rem 5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-top: theme.$main-border;

      p {
        margin-left: 2rem;
      }
    }
  }

  .liked {
    color: rgb(224, 224, 43);
  }

  .invisible {
    opacity: 0;
  }

  .delete-modal {
    @include theme.modal-mixin;
    background-color: rgba(0, 0, 0, 0.3);
    form {
      height: 50vh;
      width: 50vw;
      background-color: theme.$back-white;
      @include theme.rounded-border-mixin;
      @include theme.flex-center;
      flex-direction: column;
      justify-content: space-evenly;

      h1 {
        width: 50%;
        font-size: 1.5rem;
      }

      .buttons {
        width: 50%;
        display: flex;
        justify-content: space-around;

        input {
          @include theme.button-mixin;
        }
      }
    }
  }
}
