@use "../../../theme";

.howl {
  border-bottom: theme.$line-size solid theme.$line-color;
  height: fit-content;
  width: 100%;
  display: flex;
  padding: 1rem;

  .name-text-img-container {
    width: 100%;
    margin: 1.5rem auto;

    .username {
      margin: 0;
    }

    .howl-text {
      margin: 1rem 0;
    }
    .img-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .img {
        border: 2px solid theme.$line-color;
        border-radius: 20px;
        max-height: 30rem;
        margin: auto;
      }
    }
  }
  .buttons-container {
    width: 30%;
    padding: 1rem;
    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      button,
      p {
        color: theme.$main-blue;
        font-size: 1.2rem;
        cursor: pointer;
        border: none;
        background-color: white;
        :active {
          font-size: 1.5rem;
        }
      }
    }
  }
  .comment-form {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    form {
      width: 50vw;
      height: 30vh;
      background-color: theme.$back-white;
      border-radius: theme.$border-radius;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .comments {
    .comment {
      margin: 1rem 5rem;
    }
  }
  .liked {
    color: rgb(224, 224, 43);
  }
}
