@use "../../../theme";

.howl {
  border-bottom: theme.$main-border;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .avatar-container {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;

    button {
      border: none;
      background-color: theme.$back-white;
      cursor: pointer;
    }

    p {
      margin-left: 2rem;
    }
  }

  .text-img-container {
    width: 100%;
    margin: 1.5rem auto;

    .username {
      margin: 0;
    }

    .howl-text {
      margin: 1rem 0;
      text-indent: 1rem;
    }
    .img-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .img {
        border: 2px solid theme.$line-color;
        border-radius: 20px;
        max-height: 30rem;
        max-width: 40vw;
        margin: auto;
      }
    }
  }

  .buttons-container {
    width: 30%;
    padding: 1rem;

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      button,
      p {
        color: theme.$main-blue;
        font-size: 1.2rem;
        cursor: pointer;
        border: none;
        background-color: theme.$back-white;

        :active {
          font-size: 1.5rem;
        }
      }
    }
  }

  .comment-form {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: theme.$modal-back;
    display: flex;
    flex-direction: column;

    form {
      width: 50vw;
      height: 30vh;
      background-color: theme.$back-white;
      border-radius: theme.$border-radius;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .comments {
    margin: 0 -1rem;

    .avatar-button {
      border: none;
      background-color: theme.$back-white;
    }

    .comment {
      padding: 1rem 5rem;
      display: flex;
      align-items: center;
      border-top: theme.$main-border;

      p {
        margin-left: 2rem;
      }
    }
  }

  .liked {
    color: rgb(224, 224, 43);
  }

  .invisible {
    opacity: 0;
  }
}
