@use "../../../theme";

.signout-modal {
  @include theme.modal-mixin;

  form {
    min-height: 50vh;
    min-width: 40vw;
    background-color: theme.$back-white;
    border-radius: theme.$border-radius;
    @include theme.flex-center();
    flex-direction: column;
    text-align: center;
    padding: 1rem;

    h1 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
      color: theme.$gray-text;
    }

    h1,
    p,
    input {
      margin-bottom: 1rem;
    }

    input {
      @include theme.button-mixin;
      width: 80%;
      height: 3rem;
    }
  }
}
