// colors

$main-blue: #1da1f2;
$back-white: #fff;
$line-color: #DBDCDD;
$modal-back: rgba(0, 0, 0, 0.3);

// sizing

$line-size: 1px;

// border

$main-border: $line-size solid $line-color;

$border-radius: 50px;
