@use "../../../theme";

.legal-page {
  height: 100vh;
  width: 100vw;
  @include theme.flex-center;
  flex-direction: column;
  justify-content:space-evenly;

  .privacy {
    max-width: 60vw;
    text-indent: 2rem;
  }

  button {
    @include theme.button-mixin;
  }
}
